
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/Sinapsi-Android.iml

.idea/workspace.xml

Sinapsi Engine/.idea/codeStyleSettings.xml

Sinapsi Engine/.idea/codeStyleSettings.xml

Sinapsi Engine/.idea/compiler.xml

Sinapsi Engine/.idea/dictionaries/Giuseppe.xml

.idea/vcs.xml

Sinapsi Engine/.idea/inspectionProfiles/profiles_settings.xml

Sinapsi Engine/.idea/inspectionProfiles/Project_Default.xml

Sinapsi Engine/.idea/libraries/floatingactionbutton_1_8_0.xml

Sinapsi Engine/.idea/libraries/library_1_1_8.xml

Sinapsi Engine/.idea/libraries/play_services_6_5_87.xml

Sinapsi Engine/.idea/libraries/support_v4_22_2_1.xml

Sinapsi Engine/.idea/misc.xml

Sinapsi Engine/.idea/scopes/scope_settings.xml

Sinapsi Engine/.idea/vcs.xml

Sinapsi Engine/app/app.iml

Sinapsi Engine/build/intermediates/gradle_project_sync_data.bin

Sinapsi Engine/Sinapsi Engine.iml
